[package]
name = "lectito-core"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = "2.0.17"
reqwest = { version = "0.12", features = ["rustls-tls"] }
scraper = "0.25"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
regex = "1.11"
url = "2.5"
tokio = { version = "1.42", features = ["rt-multi-thread", "net", "time"] }
lol_html = "2.7"
htmd = "0.5.0"
sxd-xpath = "0.4"
sxd-document = "0.3"
dirs = "6.0"

[dev-dependencies]
tempfile = "3.24"
